include ../plate/mixin
include ../rate/mixin
include ../product-loan/mixin

mixin product-card(props)
  - const randomId = (Math.floor(Math.random() * 10000));
  - const cardSize = props.size === 'sm' ? 'product-card_sm' : 'product-card_lg';
  a(class=cardSize data-id=randomId).js-productCard.product-card&attributes(attributes)
    if props && props.plates
      .product-card__plates
        if props.plates.installments
          +plate({class: "plate_loan plate_sm", title: "0-0-24"})
        if props.plates.discount
          +plate({class: "plate_discount plate_sm", title: "Скидка"})
    button.product-card__favorite-btn.js-favouriteBtn
      span.product-card__favorite-icon
    .product-card__img-box
      img(src=props.img).product-card__img
    .product-card__body
      h3.product-card__title #{props.title}
      +rate({
          size: 'sm',
          rate: 5,
          reviewsAmount: 35,
      })
      .product-card__cost
        span.product-card__sale-price #{props.prices.new}
        span.product-card__price #{props.prices.old}
      if props.loan
        .product-card__loan-box
          +product-loan({type: 'credit', size: 'sm', monthlyPayment: 4888, months: 36})

