//TODO: Make modifiers choice with input type radio

mixin product-memory-modifiers(props)
  .product-memory-modifiers
    h6.product-memory-modifiers__title.m-0 Память
    ul.product-memory-modifiers__list
      each memory in props.memories
        li.product-memory-modifiers__item
          input(type="radio" id=memory.amount name="memories").product-memory-modifiers__memory-input
          label(for=memory.amount).product-memory-modifiers__memory #{memory.amount} GB


mixin product-color-modifiers(props)
  .product-color-modifiers
    h6.product-color-modifiers__title.m-0 Цвет
    ul.product-color-modifiers__list
      each color in props.colors
        li.product-color-modifiers__item
          input(type="radio", name="colors", id=color.bgColor).product-color-modifiers__color-input
          label(for=color.bgColor).p-0.product-color-modifiers__color
            span(style=color.bgColor).product-color-modifiers__color-value
