include ../icon/mixin

mixin searchInput()
   input(type="text" placeholder="Найти в Globerce Market")&attributes(attributes)


mixin searchIcon()
   svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes).search__search-icon
      path(d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#9BA4B5")
      path(d="M20.9999 20.9999L16.6499 16.6499" stroke="#9BA4B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin clearBtn()
   button(type="button")&attributes(attributes)
      +icon({src: '../../images/icons/clear.svg', alt: 'clear icon'})

mixin cancelBtn()
   button(type="button")&attributes(attributes) Отменить

mixin search(props)
  .search&attributes(attributes)
   .search__container
      +searchIcon(class=props.searchIconClass)
      +searchInput(class=props.inputClass)
      +clearBtn(class=props.clearBtnClass).d-none
   if props.append
      +#{props.append}
   +cancelBtn(class=props.cancelBtnClass, id=props.idCancelBtn).d-none