mixin payment(props)
  .payment.js-payment.py-16
    .payment__type
      input(type='radio' id='99' data-value='card').payment__loan-input.js-paymentCard
      label(for="99", data-value='card').payment__card Оплата картой
    .payment__loan.py-8
      .payment__title-box.px-16.pb-8
        span.payment__title-loan Рассрочка / кредит
        span.payment__title-available-months доступные сроки (месяцы)
      .payment__loan-box.pt-8.js-paymentLoanBox
        ul.payment__loan-list.px-16
          each month in props.months
            li.payment__loan-item.js-paymentLoanMonth
              input(type="radio" id=month.id name="payment-type" data-value=month.value).payment__loan-input
              label(for=month.id data-value=month.value).payment__loan-months #{month.value}
